<div class="wrapper">
    <form [formGroup]="parametersForm">
        <label>
            Center X
            <input type="text" formControlName="centerX">
        </label>
        <label>
            Center Y
            <input type="text" formControlName="centerY">
        </label>
        <label>
            R1
            <input type="text" formControlName="radiusInner">
        </label>
        <label>
            A
            <input type="text" formControlName="circleRectangleWidth">
        </label>
        <label>
            B
            <input type="text" formControlName="circleRectangleHeight">
        </label>

        <label>
            R2
            <input type="text" formControlName="outerSmallCircleRadius">
        </label>
        <label>
            R3
            <input type="text" formControlName="outerBigCircleRadius">
        </label>
        <label>
            C
            <input type="text" formControlName="outerRectangleWidth">
        </label>
    </form>
    <img src="../assets/detail-super.png">

</div>


<canvas #canvasElement></canvas>
