:host {
  display: block;
}

canvas {
  display: block;
  margin: 0 auto;
}

form {
  display: flex;
}

label {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

img {
  width: 300px;
  max-height: 100%;
  align-self: center;
}

input {
  width: 50px;
  margin-left: 50px;
}

.basis {
  width: 100px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.column {
  margin-right: 20px;
}
